<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Klana | Experience Authentic Indonesia</title>
    <link rel="shortcut icon" href="assets/images/icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <link href="/stylesheets/screen.css" type="text/css" rel="stylesheet">
</head>
<body class="comming-soon">
	<h1>Ber-Klana Soon with us!</h1>
	<p>Be the first ones to be in the know, <br> join our mailing list</p>
	<form>
		<input type="email" name="email" placeholder="you can put your email here">
	</form>
</body>
</html>