<footer>
    <div class="top">
        <div class="container">
            <div class="row" id="contact">
                <div class="col-lg-6">
                    <h3 class="muli-semi-bold">Ready to make <br>  something amazing?</h3>
                    <a href="#" data-toggle="modal" data-target="#exampleModal" class="jumb-btn muli-semi-bold button btn-grad-blue">Let's Get Started!</a>
                    <p class="muli-reg">
                            <%=translation.ABOUT_FOOTER%>
                    </p>
                </div>
                <div class="col-lg-3">
                    <h4 class="f-20 muli-semi-bold">Contacts</h4>
                    <ul>
                        <li><a href="tel:+6281295009910">+62 812 9500 9910</a></li>
                        <li><a href="tel:+628158170900">+62 815 817 0900</a></li>
                        <li><a href="mailto:fadil.nylon@gmail.com?Subject=Hello%20DevHouseID">devhouseid99@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4 class="f-20 muli-semi-bold">Links</h4>
                    <ul>
                        <li><a href="#whyus">Why Us</a></li>
                        <li><a href="/maintenance">Our Process</a></li>
                        <li><a href="/maintenance">Our Work</a></li>
                        <li><a href="#contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row btm">
            <div class="col-lg-6">
                <a href="/home" class="footer-logo">
                    <img class="img-responsive" src="/assets/images/new_logo.png">
                </a>
                <h3 class="opensans-reg">&copy; 2018 <a href="/">DEVHOUSE </a> all right reserved </h3></div>
            <div class="col-lg-6">
                <ul>
                    <li><a href="http://www.facebook.com/devhouse.id" class="icons fb"></a></li>
                    <li><a href="http://www.instagram.com/devhouse.id" class="icons ig"></a></li>
                    <li><a href="http://www.linkedin.com/company/devhouseid" class="icons in"></a></li>
                </ul>
            </div>
            
        </div>
    </div>
    
</footer>
<!-- Apps Case Modal -->
<div class="modal fade" id="appCaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        
        <div class="modal-body">
            <img class="img-responsive" src="/assets/images/kakao-coin.png">
        </div>
           
        </div>
    </div>
</div>
<!-- end apps case modal -->

<!-- Website Case Modal -->
<div class="modal fade" id="webCaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        
        <div class="modal-body">
            <img class="img-responsive" src="/assets/images/web-case1.png">
        </div>
           
        </div>
    </div>
</div>
<!-- end apps case modal -->

    
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/jquery.datetimepicker.full.min.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5b4ee301df040c3e9e0bacd8/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    <script type="text/javascript">
        jQuery('#datetimepicker').datetimepicker({
            format:'d.m.Y H:i',
            inline:true,
            lang:'en'
        });
    </script>
    
    <script type="text/javascript">


        window.addEventListener("load", function(){
            var nodes = document.querySelectorAll("[data-parallax]");
              for(var i=0; i<nodes.length; i++){
                var children = nodes[i].children;
                for(var n=0; n<children.length; n++){
                children[n].setAttribute("data-index", n+2);
                }
                nodes[i].addEventListener("mousemove", function(e){
                    var elms = this.children;
                    for(var c=0; c<elms.length; c++){
                    var divisor = parseInt(elms[c].getAttribute("data-index"));
                    var startX = this.offsetWidth/4;
                    var startY = this.offsetHeight/8;
                    elms[c].style.left = startX-(((e.screenX/divisor)-e.clientX)/9)+"px";
                    elms[c].style.top = startY-(((e.screenY/divisor)-e.clientY)/9)+"px";
                    }
                  });
              }
          });
    </script>
</html>